body {
  font-family: sans-serif;
}


div.container {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

img.logo{
  max-width: 300px;
  max-height: 70.32px;
  width: 50vw;
  height: 11.72vw;
}

button.navigation, button.navigation2, input[type=button], input[type=submit], input[type=reset], button[type=submit]{
  background-color: #507e1b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
}

button.navigation{
  position: absolute;
  right: 5px;
  top: 5px;
}

input{
  margin: 4 0;
}

.input-label{
  display: inline-block;
  width: 5rem;
}

div.shortinfo{
  margin:  10px 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.09);
  display: inline-grid;
  width: 40%;
}

div.chart-container{
  position: relative;
  height:60vh;
  min-height: 200px;
  width:100%;
}

a{
  color: dimgrey;
}

a{
  text-decoration: none;
}
